body {
  background-color: #e8a412;
}

.jumbotron {
  background-color: #371368;
  opacity: 0.8;
  color: white;
}

#resultOrderHidden {
  display: none;
}

#formOne {
  margin-left: 15px;
}

.linkOrder a {
  font-size: 80px;
  font-family: Times,inherit;
  color: black;
}
.linkOrder a:hover{
  color: red ;
  text-decoration: underline;
}

.linkOrder {
  text-align: center;
}
